@model MvcOgrOkul.Models.EntityFramework.TBLKULUPLER
@{
    ViewBag.Title = "KulupGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("KulupGuncelle", "Kulup", FormMethod.Post))
{
    <div class="form-group">

        @Html.LabelFor(m => m.KULUPAD)
        @Html.TextBoxFor(m => m.KULUPAD, new { @class = "form-control" })
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.KULUPKONTENJAN)
        @Html.TextBoxFor(m => m.KULUPKONTENJAN, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.KULUPID)

    <div style="margin-top:15px;">
        <button class="btn btn-warning">Kulüp Güncelle</button>

    </div>
}


